@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;800&display=swap');

:root {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    /* color-scheme: light; */
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    margin: auto;
}

a {
    font-weight: 900;
    color: #eba84a;
    text-decoration: inherit;
}
a:hover {
    color: #B67D2C;
}

body {
    margin: 0 auto;
    /* display: flex;
    align-items: center; */
    /* height: 100vh; */
    text-align: center;
    background-image: url(../static/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 3.2em;
    /* line-height: 1.1; */
}

/* #app {
    margin: 0 auto;
    text-align: center;
} */

input, button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: whitesmoke;
    cursor: pointer;
    transition: border-color 0.25s;
}

input:hover, button:hover {
    border-color: #eba84a;
}

button:active {
    background-color: #B67D2C;
}

/* #google {
    background-image: url(../static/google.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
} */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}